.col-sm-4 {
    background-color: aliceblue ;
    margin-left: auto;
    margin-right: auto;
    
}

/* .col-sm-8 {
    background-color: antiquewhite ;
    margin-left: auto;
    margin-right: auto;
} */

.col-sm-8 {
    margin-left: auto;
    margin-right: auto;
}

.row-sm-4 {
    background-color: aliceblue ;
}

.row-sm-2.comment {
    background-color: blanchedalmond;
}

.row-sm-4.comment-info {
    background-color: beige;
}

.row-sm-4.user-info {
    background-color: beige;
}

.post {
    background-color: beige; 
}

.comment {
    background-color: bisque;
}

i {
    font-size: 20px;
    font: oblique;
}

div {
    margin: 20px;
}

h {
    margin: 10 px;
}

img.avatar {
    /* max-width: 100px; */
    width: 100px;
    height: 100px;
    border: 10px;
    overflow: hidden;

}

.post_image {
    max-width: 150px;
    max-height: 100px;
    border: 5px;
    overflow: hidden;
}

.column.posts{
    background-color: aliceblue; 
}