body {
    background-color: rgb(111, 134, 184);
}

h1,
h2,
h3,
h4,
h5,
.username {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 4px #353852;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #ebecf3;
}

small {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.postname {
    margin-bottom: 0px;
    padding-top: 15px;
}

.col-sm-4 {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

.row-sm-4 {
    min-height: 100px;
}

.column {
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.user-list {
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.userview {
    opacity: 50;
    padding: 10px;
    box-shadow: 2px 2px 4px #37394e;
    border-radius: 50px;
    background-color: rgba(59, 67, 73, 0.548);
}

.col-sm-8 {
    margin-left: auto;
    margin-right: auto;
}

div {
    margin: 20px;
}

img.small-avatar {
    width: 40px;
    height: 40px;
    border: 5px;
}

img.avatar {
    /* max-width: 100px; */
    width: 75px;
    height: 75px;
    border: 10px;
}

img.main-avatar {
    width: 150px;
    height: 150px;
    border: 10px;
}

img.post_image {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border: 5px;
}

.comment {
    margin: 5px;
    box-sizing: content-box;
    box-shadow: 0px 1px 0px 0px #23025773;
}

.post,
.postbox {
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-sizing: content-box;
    box-shadow: 1px 2px 3px 2px #18023d6c;
}

.postbox {
    background-color: rgba(59, 67, 73, 0.548);
    min-height: 120px;
}

form {
    margin-left: 15px;
}

button.delete-button {
    border: none;
    display: contents;
    color: red;
}

button.edit-button {
    border: none;
    display: contents;
    color: green;
}

.form-popup {
    display: none;
}

button.follow-button {
    border: none;
    display: contents;
    color: rgb(0, 0, 0);
}


/* The navigation bar */

.navbar {
    background-color: #333;
    position: fixed;
    /* Set the navbar to fixed position */
    padding: 0px;
    margin: 0px;
    border: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: block;
    color: #ebecf3;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #ebecf3;
    color: black;
}


/* Main content */

.main {
    margin-top: 75px;
}